body {
  background-color: whitesmoke;
}
.container {
  float: none;
}

.container .dc-chart text {
  font-size: 11px;
}

/*.container */

.jumbotron {
  background: lightgrey;
}

.container button {
  position: fixed;
  right: .5%;
  bottom: 5%;
  width: 110px;
  z-index: 100;
}

.dc-chart rect.bar-chart {
  opacity: .5;
}

.short-chart .panel-heading {
  margin-left: 15%;
  padding: 5px;
}

.panel-footer .well{
  display: inline-block;
  margin: 0 15px 15px 15px;
}

.dc-chart rect.gap {
  transform: translate(2px, -1px);
  stroke-width: 3px;
  fill: rgb(245, 245, 245);
}

.dc-chart rect.bar-chart.above {
  transform: translate(0px, 0px);
  opacity: 1;
}

.dc-chart rect.hoverHide {
  opacity: .25;
}

.dc-chart rect.deselected {

}

.dc-chart rect.actual {
  pointer-events: none;
}

.row .chart-panel .panel-body {
  /*padding-left: 0;
  padding-right: 0;*/
}

.chart-panel .explainer p {
  margin: 15px 0 0 0;
}

.chart-panel img {
  /*width: 60%;*/
  width: 300px;
  height: 250px;
}
